<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="map_path" value="$(find px4sim1)/../data/sample.pcd" />

  <group ns="drone0">
      <arg name="id" value="drone0"/>
      <node pkg="px4sim1" type="px4_quad_node" name="px4_quad_node" output="screen">
          <rosparam command="load" file="$(find px4sim1)/../config/simulation_parameters.yaml" />
          <rosparam command="load" file="$(find px4sim1)/../config/map_parameters.yaml" />
          <param name="agent/mesh_resource" value="file://$(find px4sim1)/../meshes/fake_drone.dae" />
          <param name="agent/id" value="$(arg id)"/>
          <param name="agent/start_x" value="1.0"/>
          <param name="agent/start_y" value="1.0"/>
          <param name="agent/start_z" value="0.0"/>
          <param name="agent/yaw_offset" value="0.0"/>
          <param name="map/path" value="$(arg map_path)"/>
      </node>
  </group>

  <group ns="drone1">
      <arg name="id" value="drone1"/>
      <node pkg="px4sim1" type="px4_quad_node" name="px4_quad_node" output="screen">
          <rosparam command="load" file="$(find px4sim1)/../config/simulation_parameters.yaml" />
          <rosparam command="load" file="$(find px4sim1)/../config/map_parameters.yaml" />
          <param name="agent/mesh_resource" value="file://$(find px4sim1)/../meshes/fake_drone.dae" />
          <param name="agent/id" value="$(arg id)"/>
          <param name="agent/start_x" value="-1.0"/>
          <param name="agent/start_y" value="-1.0"/>
          <param name="agent/start_z" value="0.0"/>
          <param name="agent/yaw_offset" value="0.0"/>
          <param name="map/path" value="$(arg map_path)"/>
      </node>
  </group>

  <!-- Global map -->
  <node pkg="px4sim1" type="map_publisher" name="map_publisher" output="screen">
      <param name="map/path" value="$(arg map_path)"/>
  </node>

</launch>
