<?xml version="1.0"?>
<robot name="iris" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- <xacro:include filename="$(find ego_gz_bridge)/simulation/models/iris/urdf/iris.gazebo.xacro"/> -->

  <link name='base_link'>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.5"/>
      <inertia ixx="0.029125" ixy="0.0" ixz="0.0"
              iyy="0.029125" iyz="0.0"
              izz="0.055225" />
    </inertial>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.47 0.47 0.11"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://ego_gz_bridge/simulation/models/iris/meshes/iris.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>

  <link name="imu_link"/>

</robot>
